<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Greimwp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Greimwp/index.php [L]
</IfModule>
